.nav {
  top: 0px;
  padding: 20px;
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 1;
 
  transition: all 0.5s ease-in-out;
}
.nav__black{
    background-color: #111;
}
.logo-netflix {
  width: 80px;
  position: fixed;
  left: 20px;
  object-fit: contain;
}
.nav_avatar {
  width: 30px;
  position: fixed;
  padding: 5px;
  right: 20px;
  object-fit: contain;
}
